body{
    padding: 0px;
    margin: 0px;
    font: 16px 'Microsoft Yahei','helvetica','arial';
    background-color: rgb(230,230,230);
}
/*页面头部*/
.topNav{
    height: 3rem;
    background-color: rgb(249,249,249);
    line-height: 3rem;
    text-align: center;
    color: #3d4245;
    font-size: 1.5rem;
}
/*页面底部*/
.bottomNav{
    height: 3.5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    _position: absolute;
    _top: expression(document.documentElement.clientHeight + document.documentElement.scrollTop - this.offsetHeight);
    text-align: center;
    line-height: 3.5rem;
    background-color: rgb(249,249,249);
    display: flex;
    /*从左到右*/
    flex-direction: row;
    /*超出不换行*/
    flex-wrap: nowrap;

}
.bottomNav div{
    flex: 1;
}
/*广告条*/
.bannerDiv{
    height: 6rem;
    width: 100%;
}
/*导航条*/
.navBar{
    font-size: 14px;
    height: 3rem;
    width: 100%;
    text-align: center;
    line-height: 2.5rem;
    background-color: rgb(249,249,249);
    display: flex;
    /*从左到右*/
    flex-direction: row;
    /*超出不换行*/
    flex-wrap: nowrap;
}
.navBar div{
    flex: 1;
}

#status-buttons a {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3px;
    padding-bottom: 3px;
}

#status-buttons a:hover {
    text-decoration: none;
}

/* we will style the span as the circled number */
#status-buttons span {
    display: block;
    border-radius: 15%;
    padding-left: 10px;
    padding-right: 10px;

}

#status-buttons a.active span {
    background: rgb(231,231,231);
}

/*页面切换*/
#form-views {
    width: auto;
}
#main-views.ng-enter,
#main-views.ng-leave {
    position: absolute;
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
}

#main-views.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
}

#main-views.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
}

@keyframes slideOutLeft {
    to {
        transform: translateX(-200%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-200%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-200%);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(200%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(200%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

/*房间列表*/
.liveRoomList{
    /*bottom: 3rem;*/
    /*position:relative;*/
}
.liveRooms{
    font-size: 14px;
    width: 100%;
    display: inline-block;

}
.liverooms_titleDiv{
    width: 100%;
    height: 2.5rem;
    padding-left: 5px;
    line-height: 2.5rem;
    font-size: 10px;
}
.liverooms_contentDiv{
    width: 50%;
    float: left;
    font-size: 10px;
    padding-left: 4px;
}
.liverooms_imgDiv{
    width: 100%;
}

.liverooms_imgDiv img{
    width: 100%;
    height: 9.5rem;
}
.liverooms_fontDiv{
    padding-left: 5px;
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid rgb(220,220,220);
    background-color: rgb(249,249,249);
}

/*广告条样式*/
.carousel-inner  .item img {
    height: 12rem;
    width: 100%;
}
body {
    font-size:12px;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    font-family:helvetica;
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 6rem;
    bottom: 48px;
    left: 0;
    width: 100%;
    overflow: auto;
}

#scroller, .scroller {
    position:relative;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    float:left;
    width:100%;
    padding:0;
}


/*直播间 样式*/
.chat-body{
    overflow-y:scroll;
/*//需要自适应*/
    height:500px;
    padding:0px;
}

.list-body{
    overflow-y:scroll;
    height:450px;
    padding:0px;
}

.msg-list-body{
    margin:8px;
}

.msg-wrap{
    margin-top: 0px;
    margin-bottom: 8px;
    padding: 0px;
}

.msg-content{
    margin-top: 14px;
    padding: 8px;
    padding-bottom: 4px;
    background-color:#f5f5f5;
    border:1px solid #ccc;
    border-radius: 4px;
    word-break:break-all;
}

.img-icon{
    width: 64px;
    height: 64px;
    border:2px solid #ccc;
    border-radius: 4px;
}

.msg-head{
    z-index:100;
}

.msg-name{
    margin-left: 8px;
}

.msg-time{
    margin-left: 8px;
}

.list-table{
    margin-top: -1px;
    margin-bottom: 0px;
}

.emotion-panel{
    position:fixed;
    display:none;
    z-index:200;
}

